body {
    background: wheat; 
    margin: 0 auto;
    font: #777777;

}
header {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:#cccccc;
    color: #777777;
}
.blonde-fauxlocs { width: 200px;
                height: 275px;
                float: left;
                padding: 10px;
                margin: auto;
}
.container {
    padding: 20px;
    margin: 0 auto;
    width: 960px; 
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background: #4aaaa5;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 20px;
    color: #777777;
    
} 

ul {
    background: #4aaaa5;
    font:#777777; 
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px;
    margin: 25px;
}
nav {
    padding: 20px;
    float: right;
    position: relative;
    background: #4aaaa5;
    font-size: 20px;
    font: #777777; 
}
   footer {
    background: #666666;
    padding: 20px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 section {
     margin: 20px;
     padding: 20px;
     background:#ffffff;
     width: 960px;
     border: #dddddd;
 }

 .background-for-header {
     background: black;
 }

 h1 {
     border: black;
     font-size: 50px;
     margin-bottom: auto;
     padding: 20px;
     color: #777777;
    }


.first-tab:link {
    color: red;
    
  }
  .first-tab:visited {
    color: green;
  }
  
  .first-tab:hover {
    color: blue;
  }
  
 .second-tab :link {
        color: red;
    }
    .second-tab :visited {
        color: green;
    } 
    .second-tab:hover{
        color: blue;
    }

.last-tab:link {
    color: red;
}

.last-tab:visited {
    color: green;
}

.last-tab:hover {
    color: blue;
}

.phototab1 {
    margin: 40px;
    padding: 40px;
    border: 20px;
    width: auto;
    background: #ffffff;
    float:right;
    height: 280px;
}
.blonde-braids {
    width: 200px;
                height: 275px;
                float: left;
                padding: 10px;
                margin: auto;
}

.phototab2 {
    margin: 40px;
    padding: 40px;
    border: 20px;
    width: auto;
    background: #ffffff;
    float:right;
    height: 280px;

}