h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background: #ffffff;
}
div class="main-header-background" {

     background:#ffffff;

}

h2 {
}
li {
width: 100px;
height: 200px;
background: greenyellow;
display: inline;
}
ul {
float: right;
}
img { 
    position: relative;
    width: 200px;
    height: 200px;
}
 section {
     width: 600px;
     height: 200px;
     background: teal;
     font:#777777;   
 }

 . {
     background: #777777;
 } 