body {
    background: wheat; 
}
header {
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    width:960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blonde-fauxlocs { width: 200px;
                height: 275px;
}
.container {
    padding: 50px;
    margin: 75px;
    width: 960px; 
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 30px;
} 

ul { position: fixed ;
}
nav {
    float: right;
}

 footer {
     background: #666666;
     width: 960px;clear: both;
 }
